{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>{{ page_title }}</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Total Students: {{ total_students }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Total Educators: {{ total_educators }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Total Subjects: {{ total_subjects }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Total Attendance Reports: {{ total_attendance }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
