{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>{{ page_title }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for parent in parents %}
            <tr>
                <td>{{ parent.id }}</td>
                <td>{{ parent.get_full_name }}</td>
                <td>
                    <a href="{% url 'circuit_manager_edit_parent' parent.id %}">Edit</a> |
                    <a href="{% url 'circuit_manager_delete_parent' parent.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'circuit_manager_add_parent' %}" class="btn btn-primary">Add Parent</a>
</div>
{% endblock %}
