{% extends 'main_app/base.html' %}
{% block content %}
<style>
    .image-thumbnail {
        height: 200px;
        object-fit: cover;
        cursor: pointer;
    }

    .list-group-item a {
        text-decoration: none;
        color: black;
    }

    .custom-card {
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, border-color 0.3s;
        border-color: transparent;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .custom-card:hover {
        transform: scale(1.05);
        border-color: #d2dde2;
    }

    .custom-container {
        background-color: #43586d;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        height: 100%;
    }

    .custom-heading {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
</style>

<div class="container m-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Categories
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'jobgallery' %}">All</a>
                    </li>
                    {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{% url 'jobview' %}?category={{category.name}}">
                            {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                    <li class="list-group-item">
                        <a href="{% url 'joblistview' %}" class="btn btn-dark btn-block btn-sm m-1 text-white">View All Jobs</a>
                    </li>
                    <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Job</a>
                    <a href="{% url 'logout' %}" class="btn btn-dark btn-block btn-sm m-1">Logout</a>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="custom-heading">Your Applied Jobs</h1>
                </div>

                {% for applyjob in applyjobs %}
                <div class="col-md-4">
                    <div class="custom-container">
                        <div class="card custom-card">
                            <!-- Edit/Delete buttons -->
                            {% if user.is_superuser or user.user_type in '12469' or user == applyjob.user %}
                                <div class="d-flex justify-content-end m-2">
                                    <a href="{% url 'edit-application' applyjob.id %}" class="btn btn-sm btn-primary me-1">Edit</a>
                                    <a href="{% url 'delete-application' applyjob.id %}" class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            {% endif %}

                            <a href="{% url 'job' applyjob.category.id %}">
                                <img class="image-thumbnail" src="{{ applyjob.image.url }}" alt="Job Image">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ applyjob.full_names }}</h5>
                                <p class="card-text">Category: {{ applyjob.category.name }}</p>
                                <p class="card-text">Position: {{ applyjob.position }}</p>
                                <p class="card-text">Motivation: {{ applyjob.motivation|truncatewords:15 }}</p>
                                {% if user.is_superuser or user.user_type in '12469' %}
                                    <p class="card-text"><small class="text-muted">Applied by: {{ applyjob.user.get_full_name }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-md-12">
                    <h3>No Job Opportunities</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
