{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ElimCircuit</title>
  <link rel="icon" href="{% static 'assets/images/logo1.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% url 'index' %}">
</head>
{% if user.is_authenticated %}
            <div class="card-header">
              <i class="fas fa-table"></i>
              upload_files
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#"></a>

                    <a  class="btn btn-sm btn-success" href="{% url 'schoolfiles' %}" style="padding: 8px; float: right; background-color: green; color: white;">Back</a>
                </li>
            </ol>
             {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
            <div class="card mb-3">
                <div class="card-header text-primary">
               <i class="fas fa-truck text-secondary">e.g term 2 memorandum</i>
                </div>
                <div class="card-body">
        <form action="{% url 'schoolupload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col"><input type="text" class="form-control" name="filename" placeholder="document name" required="required"></div>  
            </div>          
        </div>


         <div class="form-group">
            <div class="row">
                <div class="col"><input type="text" class="form-control" name="owner" placeholder="cover" required="required"></div>  
            </div>          
        </div>



         <div class="form-group">
            <div class="row">

              <div class="col"><label>Choose PDF File</label>
                    <input type="file" id="myFile" name="pdf" placeholder="Report Attachment" enctype="multipart/form-data"></div>
            </div>          
        </div>


         <div class="form-group">
            <div class="row">

              <div class="col"><label>Choose Cover File</label>
                    <input type="file" id="myFile" name="cover" placeholder="Report Attachment" enctype="multipart/form-data"></div>
            </div>          
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block" href="">Add Now</button>
        </div>
    </form>

                 





                 
                          {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal-->
     {% if latest_customer_list %}
            {% for customer in latest_customer_list %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: blue">Ready to Delete?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="color: red;"><h5> Select "Delete" below if you want to Delete</h5></div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" data-dismiss="modal">Cancel</button>
               <a class="btn btn-danger" href="{% url 'admin_deleto' customer.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>
  {% endfor %}
      {% endif %}

  </tbody>
</table>
{% else %}
<div class="container mt-3"></div>
 <div class="d-flex justify-content-center justify-content-md-start">
    <div class="text-center me-3">
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <a><strong>NOTICE!</strong></a>
        <a class="btn btn-danger bi bi-person" target="_blank" href="{% url 'login_page' %}" role="button">
        Login
        </a>
        <a class="btn btn-secondary bi bi-person" target="_blank" href="{% url 'register_selection' %}" role="button">
        Create account</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> 
    </div> 
 </div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endif %}




</body>
</html>

{% endblock %}








